@import url('bootstrap.min.css');
@import url('font-awesome.min.css');
@import url('ionicons.min.css');
@import url('morris/morris.css');
@import url('jvectormap/jquery-jvectormap-1.2.2.css');
@import url('datepicker/datepicker3.css');
@import url('daterangepicker/daterangepicker-bs3.css');
@import url('iCheck/all.css');
@import url('style.css');
@import url('http://fonts.googleapis.com/css?family=Lato');

.results tr[visible='false'],
.no-result{
    display:none;
}

.results tr[visible='true']{
    display:table-row;
}

.counter{
    padding:8px;
    color:#ccc;
}