<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <script type="text/javascript">
        function hide(){
            $("#resultsBlock").hide();
        }
        function importFile(fileName, data, callBack){
            var r = confirm("Are you sure you want to process following file '" + fileName + "' ?");

            if (r == true) {
               /* $("#resultsBlock").show();
                var url = '/importingFTPFile?fileName=' + fileName;
                $("#resultsBlock").load(url);
                setTimeout(doNothing,15000);
*/
                $.ajax({
                    type: "GET",
                    url: "importingFTPFile",
                    data: {
                        fileName: fileName
                    },
                    beforeSend: function(){$("#resultsBlock").show();},
                    async:false,
                    success: function(data, textStatus, xhr)
                    {
                        return callBack("success");
                    },
                    error: function (xhr, textStatus, errorThrown ){
                        return callBack("success");
                    }
                });
                //$("#resultsBlock").load(url);

            }
        }
        function doNothing(){
            //nothing
        }
    </script>
</head>
<body class="skin-black" onload="hide()">
<!--/*/ <th:block th:include="fragments/header_title :: header_title"></th:block> /*/-->

<div class="wrapper row-offcanvas row-offcanvas-left">

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="img/26115.jpg" th:href="@{/img/26115.jpg}" class="img-circle" alt="User Image"/>
                </div>
                <div class="pull-left info">
                    <p th:text="'Hello, ' + ${username} + '!'"/>

                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <!--<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search..."/>
                                    <span class="input-group-btn">
                                        <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i
                                                class="fa fa-search"></i></button>
                                    </span>
                </div>
            </form>-->
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li>
                    <a href="workload_reports_terms.html">
                        <i class="fa fa-dashboard"></i> <span>Dashboard(Still Prog.)</span>
                    </a>
                </li>
                <li class="active">
                    <a href="workload_reports_terms.html">
                        <i class="fa fa-gavel"></i> <span>Workload Report(s)</span>
                    </a>
                </li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <aside class="right-side">

        <!-- Main content -->
        <section class="content">
            <div class="panel">
                <header class="panel-heading">
                    <b>Year based Generated Workload Reports for Each Faculty of UALR</b>

                </header>
                <div class="panel-body table-responsive" th:if="${not #lists.isEmpty(workloadsReportTerms)}">

                    <table class="table table-hover">
                        <tr>
                            <th>Faculty Name</th>
                            <th>Faculty Code</th>
                            <th>Year of Workload Reports</th>
                            <th></th>
                        </tr>
                        <tr th:each="workloadReportTerm : ${workloadsReportTerms}">
                            <td th:text="${workloadReportTerm.faculty!=null}?${workloadReportTerm.faculty.name}"></td>
                            <td th:text="${workloadReportTerm.faculty!=null}?${workloadReportTerm.faculty.code}"></td>
                            <td th:text="${workloadReportTerm.semesterYear}"></td>
                            <td>
                                <div class="pull-right hidden-phone">
                                    <a href="workload_reports_faculty_terms.html" th:href="${'workload_reports_faculty_terms?facultyCode='+ workloadReportTerm.faculty.code + '&amp;semesterTermYear=' + workloadReportTerm.semesterYear}"><button class="btn btn-default btn-sm"><i class="fa fa-search"></i>
                                    </button></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div><!-- /.box-body -->

                <div align="right">
                    <button class="btn btn-primary btn-addon btn-sm" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-plus"></i>
                        Add Workload Report
                    </button>
                </div>
            </div> <!--/.box-->
        </section><!-- /.content -->
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
    </aside><!-- /.right-side -->
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:#e56c69">New Workload Report</h4>
            </div>
            <div class="modal-body">
                <!-- Results block -->
                <div id="resultsBlock">
                    <div class="stat">
                        <div class="stat-icon" style="color:#fa8564">
                            <i class="fa fa-refresh fa-spin fa-3x stat-elem"></i>
                        </div>
                        <h5 class="stat-info" style="color:#e56c69">Procesing....Please wait....</h5>
                    </div>
                </div>
                <p>Please select a FTP file to import and generate Workload Report </p>
                <table class="table table-hover">
                    <tr>
                        <th>FTP File</th>
                        <th>Uploaded Date/Time</th>
                        <th></th>
                    </tr>
                    <tr th:each="ftpWorkloadFile : ${ftpWorkloadFiles}">
                        <td th:text="${ftpWorkloadFile.fileName!=null}?${ftpWorkloadFile.fileName}"></td>
                        <td th:text="${ftpWorkloadFile.fileUploadedDate!=null}?${ftpWorkloadFile.fileUploadedDate}"></td>
                        <td>
                           <div class="pull-right hidden-phone">
                                <a href="workload_reports_terms.html" th:onclick="'importFile(\'' + ${ftpWorkloadFile.fileName}+ '\');'"><button class="btn btn-danger" type="button">Add</button></a>


                           </div>
                        </td>
                    </tr>
                </table>
                <div align="left">
                    <p><b style="color:#e56c69">NOTE 1: </b><label th:text="#{workload_reports_terms.addworkloadreport.note1.label}"></label></p>
                    <p><b style="color:#e56c69">NOTE 2: </b><label th:text="#{workload_reports_terms.addworkloadreport.note2.label}"></label></p>
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>