<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <script type="text/javascript">
        $('#idTourDateDetails').datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: '+5d',
            changeMonth: true,
            changeYear: true,
            altField: "#idTourDateDetailsHidden",
            altFormat: "yy-mm-dd"
        });
    </script>
</head>
<body class="skin-black">
<!--/*/ <th:block th:include="fragments/header_title :: header_title"></th:block> /*/-->

<div class="wrapper row-offcanvas row-offcanvas-left">

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="img/26115.jpg" th:href="@{/img/26115.jpg}" class="img-circle" alt="User Image"/>
                </div>
                <div class="pull-left info">
                    <p th:text="'Hello, ' + ${username} + '!'"/>

                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <!--<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search..."/>
                                    <span class="input-group-btn">
                                        <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i
                                                class="fa fa-search"></i></button>
                                    </span>
                </div>
            </form>-->
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li>
                    <a href="workload_reports_terms.html">
                        <i class="fa fa-dashboard"></i> <span>Dashboard(Still Prog.)</span>
                    </a>
                </li>
                <li class="active">
                    <a href="workload_reports_terms.html">
                        <i class="fa fa-gavel"></i> <span>Workload Report(s)</span>
                    </a>
                </li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <aside class="right-side">

        <!-- Main content -->
        <section class="content">
            <div class="panel">
                <header class="panel-heading">
                    <b>Year based Generated Workload Reports for Each Faculty of UALR</b>

                </header>
                <div class="panel-body table-responsive" th:if="${not #lists.isEmpty(workloadsReportTerms)}">
                    <div align="right">
                        <button class="btn btn-primary btn-addon btn-sm" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-plus"></i>
                            Add Workload Report
                        </button>
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <th>Faculty Name</th>
                            <th>Faculty Code</th>
                            <th>Year of Workload Reports</th>
                            <th></th>
                        </tr>
                        <tr th:each="workloadReportTerm : ${workloadsReportTerms}">
                            <td th:text="${workloadReportTerm.faculty!=null}?${workloadReportTerm.faculty.name}"></td>
                            <td th:text="${workloadReportTerm.faculty!=null}?${workloadReportTerm.faculty.code}"></td>
                            <td th:text="${workloadReportTerm.semesterYear}"></td>
                            <td>
                                <div class="pull-right hidden-phone">
                                    <a href="workload_reports_faculty_terms.html" th:href="${'workload_reports_faculty_terms?facultyCode='+ workloadReportTerm.faculty.code + '&amp;semesterTermYear=' + workloadReportTerm.semesterYear}"><button class="btn btn-default btn-sm"><i class="fa fa-search"></i>
                                    </button></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div align="right">
                    <button class="btn btn-primary btn-addon btn-sm" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-plus"></i>
                        Add Workload Report
                    </button>
                    </div>
                </div><!-- /.box-body -->

            </div> <!--/.box-->
        </section><!-- /.content -->
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
    </aside><!-- /.right-side -->
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Workload Report</h4>
            </div>
            <div class="modal-body">
                <p>Please select a FTP file to import and generate Workload Report </p>
                <table class="table table-hover">
                    <tr>
                        <th>FTP File</th>
                        <th>Uploaded Date</th>
                        <th></th>
                    </tr>
                    <tr th:each="ftpWorkloadFile : ${ftpWorkloadFiles}">
                        <td th:text="${workloadReportTerm.faculty!=null}?${workloadReportTerm.faculty.name}"></td>
                        <td th:text="${workloadReportTerm.faculty!=null}?${workloadReportTerm.faculty.code}"></td>
                        <td th:text="${workloadReportTerm.semesterYear}"></td>
                        <td>
                            <div class="pull-right hidden-phone">
                                <a href="workload_reports_faculty_terms.html" th:href="${'workload_reports_faculty_terms?facultyCode='+ workloadReportTerm.faculty.code + '&amp;semesterTermYear=' + workloadReportTerm.semesterYear}"><button class="btn btn-default btn-sm"><i class="fa fa-search"></i>
                                </button></a>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="table-foot">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                    <button class="btn btn-danger" type="button">Add</button>
            </div>
        </div>

    </div>
</div>
</body>
</html>