<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <script>
        $(document).ready(function() {
            $(".search").keyup(function () {
                var searchTerm = $(".search").val();
                var listItem = $('.results tbody').children('tr');
                var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

                $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
                    return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
                }
                });

                $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
                    $(this).attr('visible','false');
                });

                $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
                    $(this).attr('visible','true');
                });

                var jobCount = $('.results tbody tr[visible="true"]').length;
                $('.counter').text(jobCount + ' item');

                if(jobCount == '0') {$('.no-result').show();}
                else {$('.no-result').hide();}
            });
        });
    </script>
</head>
<body class="skin-black">
<!--/*/ <th:block th:include="fragments/header_title :: header_title"></th:block> /*/-->

<div class="wrapper row-offcanvas row-offcanvas-left">

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="img/26115.jpg" th:href="@{/img/26115.jpg}" class="img-circle" alt="User Image"/>
                </div>
                <div class="pull-left info">
                    <p th:text="'Hello, ' + ${username} + '!'"/>

                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!--&lt;!&ndash; search form &ndash;&gt;
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search..."/>
                                    <span class="input-group-btn">
                                        <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i
                                                class="fa fa-search"></i></button>
                                    </span>
                </div>
            </form>-->
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li>
                    <a href="index.html">
                        <i class="fa fa-dashboard"></i> <span>Dashboard(Still Prog.)</span>
                    </a>
                </li>
                <li class="active">
                    <a href="workload_reports_terms.html">
                        <i class="fa fa-gavel"></i> <span>Workload Report(s)</span>
                    </a>
                </li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <aside class="right-side">
        <!-- Main content -->
        <section class="content">
            <div class="row" style="margin-bottom:5px;">


                <div class="col-md-5" th:class="${dynamicColumnClassName}">
                    <div class="sm-st clearfix">
                        <span class="sm-st-icon st-red"><i class="fa fa-check-square-o"></i></span>
                        <div class="sm-st-info">
                            <span th:text="${facultyName}"></span>
                            <h4 th:text="'Year: ' + ${semesterYear} + ' Semester Term : ' + ${semesterTermName}"></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <header class="panel-heading">
                    <b>Workload Reports for Each Faculty Staff</b>

                </header>
                <div class="panel-body table-responsive" th:if="${not #lists.isEmpty(workloadReports)}">
                    <!--<div class="input-group">
                        <input type="text" name="table_search" id="table_search" class="search form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>-->
                    <span class="counter pull-right"></span>
                    <table class="table table-hover results">
                        <thead>
                        <tr>
                            <th>Surname, Name </th>
                            <th>Department Name</th>
                            <th>Department Code</th>
                            <th></th>
                        </tr>
                        <tr class="warning no-result">
                            <td colspan="4"><i class="fa fa-warning"></i> No result</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="workloadReport : ${workloadReports}">
                            <td th:text="${workloadReport.instructorNameSurname}"></td>
                            <td th:text="${workloadReport.departmentName}"></td>
                            <td th:text="${workloadReport.departmentCode}"></td>
                            <td>
                                <div class="pull-right hidden-phone">
                                    <a href="workload_reports_downloaded.html" th:href="${'workload_reports_downloaded?workloadReportId='+ workloadReport.id + '&amp;workloadReportTermId=' + workloadReport.workloadReportTerm.id}" target="_blank"><button class="btn btn-default btn-sm"><i class="fa fa-download"></i>
                                    </button></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div> <!--/.box-->
        </section><!-- /.content -->

        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
    </aside><!-- /.right-side -->
</div>
</body>
</html>