<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</head>
<body class="skin-black">
<!--/*/ <th:block th:include="fragments/header_title :: header_title"></th:block> /*/-->

<div class="wrapper row-offcanvas row-offcanvas-left">

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="img/26115.jpg" th:href="@{/img/26115.jpg}" class="img-circle" alt="User Image"/>
                </div>
                <div class="pull-left info">
                    <p th:text="'Hello, ' + ${username} + '!'"/>

                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!--&lt;!&ndash; search form &ndash;&gt;
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search..."/>
                                    <span class="input-group-btn">
                                        <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i
                                                class="fa fa-search"></i></button>
                                    </span>
                </div>
            </form>-->
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li>
                    <a href="index.html">
                        <i class="fa fa-dashboard"></i> <span>Dashboard(Still Prog.)</span>
                    </a>
                </li>
                <li class="active">
                    <a href="workload_reports_terms.html">
                        <i class="fa fa-gavel"></i> <span>Workload Report(s)</span>
                    </a>
                </li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <aside class="right-side">
        <!-- Main content -->
        <section class="content">
            <div class="row" style="margin-bottom:5px;">


                <div class="col-md-5" th:class="${dynamicColumnClassName}">
                    <div class="sm-st clearfix">
                        <span class="sm-st-icon st-red"><i class="fa fa-check-square-o"></i></span>
                        <div class="sm-st-info">
                            <span th:text="${facultyName}"></span>
                            <h4 th:text="'Year: ' + ${semesterYear}"></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <header class="panel-heading">
                    <b>Semester Term and Imported File Date based Generated Workload Reports for Each Faculty of UALR</b>

                </header>
                <div class="panel-body table-responsive" th:if="${not #lists.isEmpty(facultyWorkloadsReportTerms)}">
                    <table class="table table-hover">
                        <tr>
                            <th>Year of Workload Reports</th>
                            <th>Semester Term</th>
                            <th>Imported File Date</th>
                            <th></th>
                        </tr>
                        <tr th:each="facultyWorkloadsReportTerm : ${facultyWorkloadsReportTerms}">
                            <td th:text="${facultyWorkloadsReportTerm.semesterYear}"></td>
                            <td th:text="${facultyWorkloadsReportTerm.semesterTerm}"></td>
                            <td th:text="${facultyWorkloadsReportTerm.importedFileDate}"></td>
                            <td>
                                <div class="pull-right hidden-phone">
                                    <a href="workload_reports_downloaded.html" th:href="${'allWorkloadsOfEachImportedFileDateforAllDepartmentAsAZipBasedOnImportedFileDate?workloadReportTermId=' + facultyWorkloadsReportTerm.id}" target="_blank"><button class="btn btn-default btn-sm"><i class="fa fa-download"></i>
                                    </button></a>
                                </div>
                                <div class="pull-right hidden-phone">
                                    <a href="workload_reports_department.html" th:href="${'workload_reports_department?workloadReportTermId='+ facultyWorkloadsReportTerm.id}"><button class="btn btn-default btn-sm"><i class="fa fa-search"></i>
                                    </button></a>
                                </div>
                                <!--<div class="pull-right hidden-phone">
                                    <a href="workload_reports.html" th:href="${'workload_reports?workloadReportTermId='+ facultyWorkloadsReportTerm.id}"><button class="btn btn-default btn-sm"><i class="fa fa-search"></i>
                                    </button></a>
                                </div>-->
                            </td>
                        </tr>
                    </table>
                </div><!-- /.box-body -->
            </div> <!--/.box-->
        </section><!-- /.content -->

        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
    </aside><!-- /.right-side -->
</div>
</body>
</html>