<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Newsletter from UALR-EPAR</title>
    <link rel="icon" href="../../../static/img/ualr/eparIco.ico" th:src="'cid:' + ${icoresourcename}" />

</head>

<body bgcolor="#8d8e90">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
    <tr>
        <td>
            <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="61"><a href="http://ualr.edu/eit/" target="_blank"><img
                                        href="../../../static/img/mails/PROMO-GREEN2_01_01.jpg" th:src="'cid:' + ${defaultemailtemplatejpg1}" width="61" height="76" border="0"
                                        alt=""/></a></td>
                                <td width="144"><a href="http://ualr.edu/eit/" target="_blank"><img
                                        href="../../../static/img/ualr/EIT-Logo.png" th:src="'cid:' + ${eitlogopng}" width="140" height="50" border="0" alt=""/></a></td>
                                <td width="393">

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center"><font
                            style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-siz:18px; text-transform:uppercase"><strong>N E W S L E T T E R</strong></font></td>
                </tr>
                <tr>
                    <td align="center"><a href="http://localhost:8080/index" target="_blank"><img
                            href="../../../static/img/mails/eparLogo.png" th:src="'cid:' + ${eparlogopng}"  alt="" border="0"/></a></td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="7%">&nbsp;</td>
                                <td width="58%" align="left" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="95%">
                                                            <table width="100%" border="0" cellspacing="0"
                                                                   cellpadding="0">
                                                                <tr>
                                                                    <td height="35" align="left" valign="middle"
                                                                        style="border-bottom:2px dotted #000000"><font
                                                                            style="font-family: Georgia, 'Times New Roman', Times, serif; color:#000000; font-size:25px"><strong><em th:text="${topic}"></em></strong></font></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top"><font th:text="${content}"></font>
                                                                    </td>
                                                                </tr>


                                                            </table>
                                                        </td>
                                                        <td width="5%" style="border-right:2px dashed #95989a">
                                                            &nbsp;</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="35%" align="left" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="82%" align="left" valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="10"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" cellspacing="0"
                                                                   cellpadding="0">
                                                                <tr>
                                                                    &nbsp;&nbsp;&nbsp;
                                                                </tr>
                                                                <td align="center"><a href="http://ualr.edu"
                                                                                      target="_blank"><img
                                                                        href="../../../static/img/ualr/ualr-logo.png" th:src="'cid:' + ${ualrlogopng}" alt="buy her"
                                                                        width="100" height="84" border="0"/></a></td>

                                                                <tr>&nbsp;&nbsp;&nbsp;</tr>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                               cellpadding="0">
                                                                            <tr>
                                                                                <td width="12%">&nbsp;</td>
                                                                                <td width="79%" bgcolor="#e4e4e4">
                                                                                    <table width="100%" border="0"
                                                                                           cellspacing="0"
                                                                                           cellpadding="0">
                                                                                        <tr>
                                                                                            <td width="5%"></td>
                                                                                            <td width="90%"
                                                                                                height="10"></td>
                                                                                            <td width="5%"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>&nbsp;</td>
                                                                                            <td align="center"><font
                                                                                                    style="font-family: Georgia, 'Times New Roman', Times, serif; color:#000102; font-size:16px"><strong>SPECIAL
                                                                                                COLUMN</strong></font>
                                                                                            </td>
                                                                                            <td>&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td></td>
                                                                                            <td>
                                                                                                <table width="100%"
                                                                                                       border="0"
                                                                                                       cellspacing="0"
                                                                                                       cellpadding="0">
                                                                                                    <tr>
                                                                                                        <td height="5"
                                                                                                            style="border-bottom:1px solid #ffffff"></td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td height="5"></td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>&nbsp;</td>
                                                                                            <td align="left"
                                                                                                valign="top"><font
                                                                                                    style="font-family:Verdana, Geneva, sans-serif; color:#000000; font-size:12px; line-height:20px"><a
                                                                                                    href="http://yourlink"
                                                                                                    style="color:#000000; text-decoration:none"><strong><em> </em></strong></a></font>
                                                                                            </td>
                                                                                            <td>&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>&nbsp;</td>
                                                                                            <td>&nbsp;</td>
                                                                                            <td>&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>&nbsp;</td>
                                                                                            <td>&nbsp;</td>

                                                                                            <td>&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>&nbsp;</td>
                                                                                            <td>&nbsp;</td>
                                                                                            <td>&nbsp;</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                                <td width="9%">&nbsp;</td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="8%">&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td align="center"><img href="../../../static/img/mails/PROMO-GREEN2_07.jpg" th:src="'cid:' + ${defaultemailtemplatejpg2}" width="598" height="7" style="display:block" border="0"
                                            alt=""/></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td align="center"><a href="http://www.tolga-han.com"
                                          style="color:#010203; text-decoration:none"><font
                            style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#231f20; font-size:8px"><strong>Developed by Tolgahan Cakaloglu @ 2016 || txcakaloglu@ualr.edu</strong></font></a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
